label{
    display: flex;
    flex-direction: row;
    height:30%;
    width: 100%;
    margin-right: 5%;
    align-items: center;
    justify-content: center;
}
input {
    width: 30%;
    height: 20%;
    margin-left: 2%;
    background-color:#596063 ;
}

div.select {
    width: 30%;
    height: 20%;
    margin-left: 2%;
}

