table {
    width: 60vw !important;
}
input, button { border:none; } 
button:focus, button:active   { border:none; } 


.buttonDiv, .resDiv {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 3vh;
}

.resDiv {
    flex-direction: column;
}

.resDiv p {
    font-weight: bolder;
}
.calcDiv {
    display: flex;
    width: 33vw;
    flex-direction: column;
}
.description {

    margin-bottom: 5vh;
}
.description p {
    font-size: 16px !important;
}

.headr >div {
    width: 25%,
}

.right {
    width: 8vw;
}

.center {
    width: 85vw;
}

.headerCalc {
    display:flex;
    justify-content: flex-end;
    background-color: white;
    width: 83vw;
    height: 20%;
    display: flex;
    padding-top: 10px;
    padding-right: 10px;
    color: #0073bc;
}


.left {
    display:flex;
    flex-direction: column;
    font-size: 18px;
    align-items: flex-start;
    width: 100vh;
    background-color: #399de5 !important;
    width: 15vw;
    color: white;


}

input {
    width: 30%;
    height: 2vh !important;
    margin-left: 2%;
    border: 5px double  #d1d1d1;
    margin: 0.5vh !important;
}

.pageTitle {
    margin-bottom: 10vh;
    margin-top: 5vh;
    width: 100%;
}

.pageTitle h3 {
    text-align: center;
    width: 100%;
}
.left button {
    background-color: #399de5;
    color: white;
    border-bottom: 1px solid lightgray;
    height:5%;
    width: 14vw;
    padding: 1%;
    text-align: left;
    margin: 1px 4px 0px 4px;
}

.up {
    display:Flex;
    flex-direction: column;
    justify-content: space-between;
}





td{
    background-color: #f7f7f7;
    border-bottom: 1px solid #e8eff4;
    color:black;
    width:12vw;
    text-align: center;
    padding: 10px;
    
}

table {
    width: 48vw !important;
}

.leftCalc {
    width: 48vw;
}
.rightCalc {
    width: 40vw;
}