table {
    width: 65vw !important;
}

td {
    color: white;
    border: 1px solid white !important;
    width: 15vw !important;
    background-color: #596063 !important;
}

.buttonDiv, .resDiv {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 3vh;
}
.calcDiv {
    display: flex;
    width: 65vw;
    flex-direction: column;
}
.description {
    padding: 20;
    width: 64vw;

    margin-bottom: 5vh;
}
.description p {
    font-size: 18px !important;
}

.headr >div {
    width: 25%,
}

.right, .left {
    width:15vw;
}

.center {
    width: 65vw;
}

.left {
    display:flex;
    flex-direction: column;
    font-size: 24px;
    align-items: flex-start;

}
.left button {
    color: #00067A;
    border-bottom: 1px solid #004470;
    height:10%;
    width: 100%;
    padding: 5%;
    text-align: center;
}

.up {
    display:Flex;
    flex-direction: column;
    justify-content: space-between;
}